<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-between bg-white border-bottom shadow-sm fixed-top"
>
  <img src="/assets/images/myLogo.png" style="max-height: 70px" />
  <nav class="nav d-flex justify-content-center">
    <a class="p-2 text-muted" href="#">მთავარი</a>
    <a class="p-2 text-muted" href="#">მაღაზია</a>
    <a class="p-2 text-muted" href="#">კონტაქტი</a>
    <a class="btn btn-outline-secondary p-2 text-muted" href="#">დამატება</a>
  </nav>
  <div class="d-flex align-items-center">
    <a class="position-relative">
      <i class="fas fa-shopping-cart fa-2x mr-5 text-dark"></i>
      <div class="cart-no">5</div>
    </a>
    <a class="btn btn-outline-secondary mr-2">შესვლა</a>
    <a class="btn btn-outline-secondary mr-3">რეგისტრაცია</a>
  </div>
</div>
